
/**
 * -------------------
 *  Defult CSS 
 * -------------------
 */
body{
    font-family:            $font-2;
    color:                  $dark-color;
    font-size:              16px;
    line-height:            24px;
    overflow-x:             hidden !important;
    text-align:             left;
    position:               relative;
    letter-spacing:         1px;
}

a,
.nav li a {
    text-decoration:    none !important;
    display:            inline-block;
    cursor:             pointer;
    padding:            0px;
    background-color: transparent;
    @include transition(0.3s);

    &:hover {
        color: $main-color-1;
        background-color: transparent;
    }

    &:focus {
        background-color: transparent;
        outline: 0 !important;
    }
}


p{
    font-family:        $font-2;
    color:              $dark-color;
    font-size:          24px;
    line-height:        24px;
    margin-bottom:      20px;

    &:last-child {
        margin-bottom: 0px;
    }
}

hr {
    text-align: center;
}


/* Heading Style */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:        $font-1;
    color:              $main-color-1;
    font-style:         normal;
}

h1{
    font-size:          64px;
    line-height:        70px;
}
h2{
    font-size:          40px;
    line-height:        50px;
}
h3{
    font-size:          24px;
    line-height:        35px;
    letter-spacing:     1px;
}
h4{
    font-size:          21px;
    line-height:        30px;
}

h5{
    font-size:          20px;
    line-height:        34px;
}
h6{
    font-size:          16px;
    line-height:        30px;
}



/**
 * ---------------------
 *  Defult Helping Class
 * ---------------------
 */
.overflow{
    overflow:           hidden;
}

.relative {
    position: relative;
}

.display-table {
    display: table;
    width: 100%;
}

.display-flex {
    display: flex;
    flex: 1;
}

.vertical-middle {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.full-height-width {
    width: 100%;
    height: 100%;
}

.no-radius {
    @include border-radius( 0px );
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0px !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-normal {
    text-transform: inherit !important;
}




/**
 * --------------------------------------
 *  Text Letter Spacing
 * --------------------------------------
 */
.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-spacing-4 {
    letter-spacing: 4px;
}

.letter-spacing-6 {
    letter-spacing: 6px;
}




/**
 * --------------------------------------
 *  Video Section Background Defult Style
 * --------------------------------------
 */
.section-video { 
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    z-index: -1;

    .bgvid {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
    }
}

.body-video-bg {
    > .section-video {
        position: fixed;
        top: 0;
        left: 0;
    }
}




/**
 * ------------------------------------
 *  Every Section Headline Defult Class
 * ------------------------------------
 */
.section-heading {
    color: $main-color-1;
    display: block;
    margin: 0;
    // margin: 0 0 25px;
    // padding-bottom: 10px;
}

.section-header {
    margin-bottom: 60px;

    .sub-heading {
        font-size: 24px;
        line-height: 25px;
        color: $main-color-1;
    }

    .tag-line {
        font-family: $font-1;
        font-weight: 400;
        margin-bottom: 0;

        >span {
            display: block;
        }
    }

    a {
        color: inherit;
        
        &:hover {
            text-decoration: underline !important;
        }
    }

    &.text-left {
        &,
        * {
            text-align: left;
        }
    }
    &.text-right {
        &,
        * {
            text-align: right;
        }
    }
}

.lines {
    position: relative;
    width: 50px;
    border-top-width: 4px;
    border-top-color: $background-3;
    margin: 0px;
}

.long-lines {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid $main-color-1;
}




/**
 * -------------------------------
 *  Section Top and Bottom padding  
 * -------------------------------
 */
$separator-height: 110px;
$separator-small-height: 75px;
$separator-smallest-height: 35px;
$separator-big-height: 174px;

.section-separator {
    padding-top: $separator-height;
    padding-bottom: $separator-height;

    &.sp-top-half {
        padding-top: $separator-height / 2;
    }
    &.sp-bottom-half {
        padding-bottom: $separator-height / 2;
    }
}

.section-separator-small {
    padding-top: $separator-small-height;
    padding-bottom: $separator-small-height;

    &.sp-top-half {
        padding-top: $separator-small-height / 2;
    }
    &.sp-bottom-half {
        padding-bottom: $separator-small-height / 2;
    }
}

.section-separator-smallest {
    padding-top: $separator-smallest-height;
    padding-bottom: $separator-smallest-height;

    &.sp-top-half {
        padding-top: $separator-smallest-height / 2;
    }
    &.sp-bottom-half {
        padding-bottom: $separator-smallest-height / 2;
    }
}

.section-separator-big {
    padding-top: $separator-big-height;
    padding-bottom: $separator-big-height;

    &.sp-top-half {
        padding-top: $separator-big-height / 2;
    }
    &.sp-bottom-half {
        padding-bottom: $separator-big-height / 2;
    }
}

.section-separator,
.section-separator-small,
.section-separator-smallest,
.section-separator-big {
    display: block;

    &.ss-top {
        padding-bottom: 0px;
    }

    &.ss-bottom {
        padding-top: 0px;
    }
}




/**
 * ---------------------------
 *  Two Section Line Separator
 * ---------------------------
 */
.section-separator-line {
    margin: 0;
    width: 100%;
    border-top: 1px solid;
    border-color: fade($shadow-color, 12%);
}



/**
 * ------------------------
 * Background Overlay Color
 * ------------------------
 */
.overlay-color {
    position: relative;
    background-color: fade($background-3, 75%);
}

.bg-overlay {
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}

.bg-overlay {
    &::before {
        background-color: fade($background-3, 70%);
    }
}




/**
 * ------------------------------------
 * Making Same Height Left & Right Part
 * ------------------------------------
 */
.display-full {
    display: table !important;
    width: 100%;

    .left,
    .right {
        display: table-cell;
        float: none !important;
    }
}





/**
 * ===============================
 *   Defult Button Style
 * ===============================
 */
.btn {
    border: none;
    color: $main-color-1;
    font-family: $font-1;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-style: normal;
    margin-right: 15px;
    overflow: hidden;
    outline: 0;
    padding: 0 0;
    position: relative;
    z-index: 2;
    letter-spacing: 1px;
    background: transparent;
    @include transition(0.3s);

    &:last-child {
        margin-right: 0px;
    }

    &:hover,
    &:focus {
        color: darken($main-color-1, 8%);
    }

    .fa {
        position: relative;
        top: 3px;
        @include transition( 0.3s );

        img {
            position: relative;
            top: -3px;
            width: 14px;
        }
    }

    &.left-icon {
        .fa {
            margin-right: 10px;
            padding-left: 5px;
        }
    }

    &.right-icon {
        .fa {
            margin-left: 5px;
        }
    }

    &.btn-fill,
    &.btn-border,
    &.btn-fill-big,
    &.btn-border-big {
        border: 2px solid;
        @include border-radius( $border-radius );
        text-transform: uppercase;
    }

    &.btn-fill,
    &.btn-border{
        padding: 0 20px;
        min-width: 180px;
        height: 60px;
        line-height: 57px;
    }

    &.btn-fill-big,
    &.btn-border-big {
        padding: 0 20px;
        min-width: 170px;
        height: 52px;
    }

    &.btn-fill,
    &.btn-fill-big {
        color: $light-color;
        border-color: $main-color-1;
        background-color: $main-color-1;

        &:hover {
            background-color: darken($main-color-1, 8%);
            border-color: darken($main-color-1, 8%);
        }
    }

    &.btn-border,
    &.btn-border-big {
        background-color: transparent;
        border-color: $main-color-1;
        color: $main-color-1;

        &:hover {
            border-color: darken($main-color-1, 8%);
            background-color: darken($main-color-1, 8%);
            color: $light-color;
        }
    }

    &.full-width {
        width: 100%;
    }

    &.btn-bold {
        font-weight: 700;
    }

}

@mixin btn-color( $color: $dark-color, $background-color: $background-1, $border-color: $background-1, $h-color: $light-color, $h-background-color: $background-3, $h-border-color: $background-3 ) {
    color: $color;
    border-color: $border-color;
    background-color: $background-color;

    &:hover {
        background-color: $h-background-color;
        border-color: $h-border-color;
        color: $h-color;
    }
}


.btn-text-link {
    padding: 50px 0 0 0;
    text-align: center;
    color: $main-color-1;

    a {
        color: darken($main-color-1, 8%);
        margin-left: 10px;
    }
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}




/**
 * -----------------------------------
 * Subscription and contact  "MESSAGE"
 * -----------------------------------
 */
.message {
    .inner {
        background-color: $background-2;
    }
}
.subscription-success, 
.subscription-failed, 
.email-success, 
.email-failed,
.email-loading {
    font-size: 15px;
    display: none;
    text-align: left !important;
    padding: 10px 0 !important;
    margin-bottom: 0;
}

.email-loading {
    color: #52B8FF;
    
    img {
        width: 15px;
        position: relative;
        top: -2px;
    }
}

.subscription-failed, 
.email-failed{
    color: #FF5252 !important;

    .fa {
        font-size: 20px;
        position: relative;
        top: 5px;
    }
}

.subscription-success, 
.email-success {
    color: #56CC35 !important;
}

.subscription-failed, 
.email-failed,
.subscription-success, 
.email-success {
    .fa {
        font-size: 20px;
        position: relative;
        top: 5px;    
    }
}




/** 
 * -----------------
 * Social Icon Style
 * -----------------
 */
.social-icon {
    margin-top: 20px;

    li {
        list-style: none;
        float: left;
        margin-bottom: 0px;

        a {
            width: 37px;
            height: 37px;
            font-size: 25px;
            padding: 6px 0;
            text-align: center;
            margin-right: 15px;
            color: $main-color-1;
            background-color: $light-color;
            @include border-radius( 50% );

            &:hover {
                color: $main-color-1;
                background-color: $light-color;
            }
        }

        &:last-child {
            a {
                margin-right: 0px;
            }
        }
    }
}




/**
 * =========================
 * Form Style 
 * =========================
 */

 $form-input-background: $background-1;


.single-form {
    width: 100%;
    display: inline-table; 

    .form-control {
        font-family: $font-2;
        height: 55px;
        font-size: 24px;
        line-height: 30px;
        border: 2px solid $main-color-1;
        box-shadow: 0 0 0 0 #fff;
        text-align: left;
        padding-left: 20px ;
        padding-right: 20px ;
        background-color: $form-input-background;
        color: $dark-color;
        @include border-radius( $border-radius );
        @include placeholder-color($dark-color);
        @include transition( 0.3s );

        &:focus {
            border-color: $main-color-1;
        }
    }

    .input-outer {
        margin-right: 15px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .input-group-addon {
        border: 0px solid;
        background-color: $form-input-background;
        color: fade($dark-color, 17%);
        padding-right: 0px;
    }

    textarea {
        height: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .select-outer {
        position: relative;
        overflow: hidden;
        border: 2px solid $main-color-1;
        @include border-radius( $border-radius );

        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            top: 23px;
            right: 23px;
            border-top: 3px solid $main-color-1;
            border-right: 3px solid $main-color-1;
            pointer-events: none;
            @include transform( rotate(135deg) );
        }
    }

    select {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        appearance: none !important;
        color: $dark-color;
        cursor: pointer;
        width: calc(100% + 20px) !important;
        border: 0px solid !important;
        padding-right: 58px !important;

        option {
            &:hover {
                // background-color: $main-color-1 !important;
            }
        }
    }

    input[type=checkbox] {
        visibility: hidden;
    }

    .checkbox {
        text-align: left;

        label {
            padding-left: 35px;
            font-size: 13px;
            color: $dark-color;
            font-weight: 600;

            &::after,
            &::before {
                content: '';
                position: absolute;
                @include transition( 0.3s );
            }

            &::after {
                height: 20px;
                width: 20px;
                left: 0;
                top: 3px;
                background: $form-input-background;
                @include border-radius( 3px );
            }

            &::before {
                border: 2px solid;
                border-color: transparent;
                width: 7px;
                height: 12px;
                left: 7px;
                top: 5px;
                @include transform( rotate( 45deg ) );
                z-index: 11;
            }
        }

        input[type=checkbox]:checked {
            + label::before {
                border-color: transparent $dark-color $dark-color transparent;
            }
        }
    }

    .form-title {
        font-size: 24px;
        color: $main-color-1;
        margin-right: 15px;
        font-family: $font-2;
        font-weight: normal;
    }

    .btn {
        margin-top: 25px;
    }

    .p-right {
        padding-left: 0px;
    }
    .p-left {
        padding-right: 0px;
    }

    .m-right {
        margin-right: 0px;
    }
    .m-left {
        margin-left: 0px;
    }
}



/**
 * ----------------------
 * CONTAINER HALF CONTENT
 * ----------------------
 */
.content-half {
    position: relative;
}

.container-half {
    position: absolute;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    width: 43%;

    &.pr30 {
        width: calc(50% - 30px);
    }
}

.container-half-left {
    left: 0;
    // background-position: top left;
    background-position: 50% 50%;
}

.container-half-right {
    right: 0;
    // background-position: top right;
    background-position: 50% 50%;
}



/**
 * ---------------------------------
 *  Section Background Size Property
 * ---------------------------------
 */
.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
}




/**
 * -----------------
 *  Light Text Color
 * -----------------
 */

.light-text {

    &,
    h1,
    h2, 
    h3, 
    h4, 
    h5, 
    h6,
    .btn * {
        color: $light-color;
    }

    a,
    p,
    span,
    .sub-heading {
        color: $light-color;
    }

    a {
        &:hover {
            color: $light-color;
            text-decoration: underline !important;
        }
    }
}



/**
 * --------------------
 *  Defult Margin Class
 * --------------------
 */
// Margin 15px
.margin-t-15 {
    margin-top: 15px;
}
.margin-r-15 {
    margin-right: 15px;
}
.margin-b-15 {
    margin-bottom: 15px;
}
.margin-l-15 {
    margin-left: 15px;
}


// Margin 20px
.margin-t-20 {
    margin-top: 20px;
}
.margin-r-20 {
    margin-right: 20px;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.margin-l-20 {
    margin-left: 20px;
}


// Margin 20px
.margin-t-25 {
    margin-top: 25px;
}
.margin-r-25 {
    margin-right: 25px;
}
.margin-b-25 {
    margin-bottom: 25px;
}
.margin-l-25 {
    margin-left: 25px;
}


// Margin 30px
.margin-t-30 {
    margin-top: 30px;
}
.margin-r-30 {
    margin-right: 30px;
}
.margin-b-30 {
    margin-bottom: 30px;
}
.margin-l-30 {
    margin-left: 30px;
}


// Margin 40px
.margin-t-40 {
    margin-top: 40px;
}
.margin-r-40 {
    margin-right: 40px;
}
.margin-b-40 {
    margin-bottom: 40px;
}
.margin-l-40 {
    margin-left: 40px;
}


// Margin 50px 
.margin-t-50 {
    margin-top: 50px;
}
.margin-r-50 {
    margin-right: 50px;
}
.margin-b-50 {
    margin-bottom: 50px;
}
.margin-l-50 {
    margin-left: 50px;
}


// Margin 60px 
.margin-t-60 {
    margin-top: 60px;
}
.margin-r-60 {
    margin-right: 60px;
}
.margin-b-60 {
    margin-bottom: 60px;
}
.margin-l-60 {
    margin-left: 60px;
}


// Margin 70px 
.margin-t-70 {
    margin-top: 70px;
}
.margin-r-60 {
    margin-right: 70px;
}
.margin-b-60 {
    margin-bottom: 70px;
}
.margin-l-60 {
    margin-left: 70px;
}


/**
 * ---------------------
 *  Defult Padding class
 * ---------------------
 */
// Padding 15px
.padding-t-15 {
    padding-top: 15px;
}
.padding-r-15 {
    padding-right: 15px;
}
.padding-b-15 {
    padding-bottom: 15px;
}
.padding-l-15 {
    padding-left: 15px;
}

// Padding 20px
.padding-t-20 {
    padding-top: 20px;
}
.padding-r-20 {
    padding-right: 20px;
}
.padding-b-20 {
    padding-bottom: 20px;
}
.padding-l-20 {
    padding-left: 20px;
}

// Padding 30px
.padding-t-30 {
    padding-top: 30px;
}
.padding-r-30 {
    padding-right: 30px;
}
.padding-b-30 {
    padding-bottom: 30px;
}
.padding-l-30 {
    padding-left: 30px;
}


// Padding 40px
.padding-t-40 {
    padding-top: 40px;
}
.padding-r-40 {
    padding-right: 40px;
}
.padding-b-40 {
    padding-bottom: 40px;
}
.padding-l-40 {
    padding-left: 40px;
}


// Padding 50px 
.padding-t-50 {
    padding-top: 50px;
}
.padding-r-50 {
    padding-right: 50px;
}
.padding-b-50 {
    padding-bottom: 50px;
}
.padding-l-50 {
    padding-left: 50px;
}




@media (max-width: $screen-sm-max) {
    
    .container-half-left,
    .container-half-right {
        display: none;
    }
    
}


@media (max-width: $screen-xs-max) {



    /**
     * ----------------
     *  Defult CSS 
     * ----------------
     */
    html *,
    body,
    p{
        text-align: center;
    }


    h1 {
        font-size:          37px;
        line-height:        52px;
    }

    h2 {
        font-size:          25px;
        line-height:        40px;
    }
    h3{
        font-size:          19px;
        line-height:        31px;
        letter-spacing:     1px;
    }


    
    /**
     * -----------------------
     *   Section Heading Style
     * -----------------------
     */
    .section-header {
        .lines {
            margin: auto;
        }
    }

    .left {
        
        &,
        * {
            text-align: left;
        }
    }




    /**
     * -------------------------------
     *  Section Top and Bottom padding  
     * -------------------------------
     */
    .section-separator {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .section-separator-small {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .section-separator-big {
        padding-top: 100px;
        padding-bottom: 100px;
    }



    /**
     * ---------------------
     *   Defult Button Style
     * ---------------------
     */
    .btn {
        margin: 10px;
        
        &:last-child {
            margin-right: 10px
        }
    }



    /**
     * -----------------
     * Nav Defult Style
     * -----------------
     */
    .nav {
        // display: inline-block;
    }

    ul {

        &,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            display: inline-block;
        }
    }


    
    /**
     * -------------------
     *   Single Form Style
     * -------------------
     */
    .single-form {
        .input-outer {
            margin-right: 0;
        }
    }




    /**
     * ----------------
     *   Helping Class
     * ----------------
     */
    .vertical-middle {
        display: block;
    }

    .display-table {
        width: auto;
    }
    
}
